body {
  background-color: black;
  max-width: 600px;
  margin-top: 80px;
  
}

.titulo {
    font-size: 57px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 400px;
    color: yellow;    
}

.foto-lampada {
    margin-left: 600px;
    width: 300px;
    border-radius: 500px;
    display: flex;
    
}
